#zuoyeneirong{
    resize: none;
    height: 500px;
    width: 900px;
    
}

#zuoyekuang{
    margin-top: 100px;
    margin-left: 250px;
    height: 510px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

#pingfen{
    margin-left: 500px;

}

table{
    border-spacing: 20px 1px;
}

td, th {
    width: 100px;
}

#fanhui{
    width: 100px;
    margin-left: 1300px;
    margin-top: -650px;
}

#fanhui a {
    text-decoration: none;
    display: block;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}