<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='xiaozuzuoye.css')}}">
</head>
<body>
    <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
    <div>
        <a href="/auth/login">返回</a>
    </div>

    <div id="kapian">
        <div class="beijing" >
            <div class="card">
                <div class="rolebg">
                    <img src="{{url_for('static',filename='实验图片1.png')}}" alt="">
                </div>
                <div class="role">
                    <img src="{{url_for('static',filename='实验图片.png')}}" alt="">
                </div>
                <div class="zuzhang">
                    <h1>组长:</h1>
                    <p>李晨旭</p>
                </div>
            </div>
        </div>
    </div>

    <div id="kapian1">
        <div class="beijing" >
            <div class="card">
                <div class="rolebg">
                    <img src="{{url_for('static',filename='实验图片7.jpg')}}" alt="">
                </div>
                <div class="role">
                    <img src="{{url_for('static',filename='实验图片2.png')}}" alt="">
                </div>
                <div class="zuzhang">
                    <h1>组员:</h1>
                    <p>刘映廷</p>
                </div>
            </div>
        </div>
    </div>

    <div id="kapian2">
        <div class="beijing" >
            <div class="card">
                <div class="rolebg">
                    <img src="{{url_for('static',filename='实验图片6.jpg')}}" alt="">
                </div>
                <div class="role">
                    <img src="{{url_for('static',filename='实验图片3.png')}}" alt="">
                </div>
                <div class="zuzhang">
                    <h1>组员:</h1>
                    <p>谢昊成</p>
                </div>
            </div>
        </div>
    </div>

    <div id="kapian3">
        <div class="beijing" >
            <div class="card">
                <div class="rolebg">
                    <img src="{{url_for('static',filename='实验图片5.jpg')}}" alt="">
                </div>
                <div class="role">
                    <img src="{{url_for('static',filename='实验图片4.png')}}" alt="">
                </div>
                <div class="zuzhang">
                    <h1>组员:</h1>
                    <p>梁鑫垚</p>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>